[Unit]
Description=uWSGI instance to serve production_ml service

[Service]
User=alex
WorkingDirectory=/home/alex/app/app
Environment="PATH=/home/alex/app/app/venv/bin"
ExecStart=/home/alex/app/app/venv/bin/uwsgi --ini /home/alex/app/uwsgi.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target