alembic
bidict
blinker
certifi
charset-normalizer
click
colorama
dnspython
eventlet
Flask
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
h11
idna
itsdangerous
Jinja2
Mako
MarkupSafe
python-engineio
python-socketio
requests
simple-websocket
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
Werkzeug
wsproto
WTForms
