<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Step 2</title>
    <link rel="stylesheet" href="/static/css/register_and_login_style.css">
</head>
<body>
<div class="container">
    <h2>Confirm Your Email</h2>
    <form action="/two_factor" method="POST">
        <label for="confirmation">Confirmation code:</label>
        <input type="text" id="confirmation" name="confirmation" required>
        <button type="submit">Log In</button>
    </form>
    {% if message %}
    <div class="error">
        {{ message }}
    </div>
    {% endif %}
</div>
</body>
</html>